<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @release.number %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @release.release_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @release.description %>
</p>

<p>
  <strong>Style:</strong>
  <%= @release.style %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @release.abv %>
</p>

<p>
  <strong>Case vol:</strong>
  <%= @release.case_vol %>
</p>

<p>
  <strong>Can limit:</strong>
  <%= @release.can_limit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @release.price %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @release.additional %>
</p>

<p>
  <strong>Canning date:</strong>
  <%= @release.canning_date %>
</p>

<p>
  <strong>Canning phrase:</strong>
  <%= @release.canning_phrase %>
</p>

<p>
  <strong>Label inspiration:</strong>
  <%= @release.label_inspiration %>
</p>

<p>
  <blockquote class="instagram-media" data-instgrm-permalink="<%= @release.instagram_url %>" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
	  <div style="padding:8px;"> 
		  <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;"> 
			  <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
			  	
			  </div>
		  </div>
	  </div>
  </blockquote>
  <script async defer src="//www.instagram.com/embed.js"></script>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
